@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

* {
    margin: auto;
    padding: 0;
    font-family: var(--fontPadrao), sans-serif;
    color: var(--cor1);
    box-sizing: border-box;
    align-items: center;
}


:root {
    --cor0: #3B3C40;
    --cor1: #ffffff;
    --cor2: #D6261D;
    --cor3: #000000;
    --fontPadrao: Arial;
}


body {
    background-image: linear-gradient(to right, var(--cor3), var(--cor0), var(--cor3));
    color: var(--cor1);
}

#logo {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    margin: auto;
    display: block;
    width: 50vh;
    height: auto;

}

main {
    margin: auto;
    min-width: 100%;
}



#display_imagens {
    border: 1px solid transparent;
    width: 100vh;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imagens {
    height: 300px;
    width: 250px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 0;

}

#text1,
#text2,
#text3 {
    font-size: 16pt;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.imagem-texto:hover .text {
    visibility: visible;
    opacity: 1;
}

.texto_imagem {
    font-size: 20pt;
    font-weight: 600;
    font-family: var(--fontPadrao);
    padding-bottom: 2vh;

}

.container {
    margin-left: auto;
    margin-right: auto;
}

.informacoes {
    font-size: 20pt;
    text-align: center;
    font-weight: 600;
    padding: 4vh 0;
    text-align: center;
}

footer>.informacoes {
    font-size: 14pt;
}

#address {
    color: var(--cor1);
    font-style: normal;
}

@media screen and (max-width: 600px) {
    #display_imagens {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@media screen and (max-width:700px) and (min-width:600px) {
    #logo {
        width: 300px;
    }

    #display_imagens {
        display: flex;
        flex-direction: row;
        width: 20%;
        padding: 15px;
        margin: 0;

    }

    .imagens {
        width: 50vh;
        height: 60vh;
        padding: 10;
        margin-left: 20%;
        transform: translateX(-10px);

    }

    .texto_imagem {
        font-size: 18pt;
    }

    .text1,
    .text2,
    .text3 {
        transform: translateX(30px);
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    #logo {
        width: 350px;
    }

    #display_imagens {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding: 15px;
        margin: 0 50px;
        justify-content: flex-start;
    }

    .imagens {
        width: 50vh;
        height: 60vh;
        padding: 0;
        margin-left: 20%;
    }

    .texto_imagem {
        font-size: 18pt;
    }

    .text1,
    .text2,
    .text3 {
        transform: translateX(40px);
    }
}

@media screen and (max-width:800px) and (min-width:700px) and (height > 500px) {

    #display_imagens {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 0;
        margin: 0 50px;
        margin-left: 25%;

    }

    .imagens {
        width: 30vh;
        height: 40vh;
        padding: 0;
        margin-left: 15%;
    }

    .informacoes {
        margin: auto;
    }

    .text1,
    .text2,
    .text3 {
        margin-left: 25%;
    }
}

@media screen and (max-width:1200px) and (min-width:900px) {
    #logo {
        width: 400px;
    }

    .imagens {
        width: 30vh;
    }
}